  :root{
    /* --backgroung-color: #202124; */
    --background-color:  rgb(32, 33, 36);
    --text-color: rgb(232, 234, 237);
  }

  *{
    box-sizing: border-box;
    font-family: Roboto, arial, sans-serif;
  }

  .header {
    padding: 10px; 
    padding-left: 10px;
    text-align: left; 
    background: var(--background-color);
    color: var(--text-color); 
  }
  
  .header__heading{
    font-family: Roboto, arial, sans-serif;
  }

  .navbar .navbar-nav .nav-item{
   font-size: 20px;
   text-align: center;
  }

  .navbar .navbar-nav .nav-item.active{
    font-weight: bold;
  }

  .form-control:focus{
    box-shadow: none !important;
  }

  body{
    background-color: var(--background-color)!important;
  }

  hr{
    background-color: var(--text-color);
  }

  #note{
    margin-top: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: none;
    resize: none;
    height: 40px;
  }

  #note::placeholder{
    color: var(--text-color);
    opacity: 1;
  }

  #note:focus{
    background-color: var(--background-color);
    color: var(--text-color);
    outline-color: transparent !important;
    outline: none!important;
    height: 40px;
  }

  .btn-dark{
    background-color: var(--background-color)!important;
    border: none!important;
    color: #FB8122!important;
    opacity: 0;
  }

  .btn-dark:disabled{
    opacity: 0!important;
  }

  .btn-dark:hover{
    color: var(--text-color)!important;
  }

  .cards{
    margin-top: 20px;
  }

  .cards .card-body__textarea{
    background-color: var(--background-color) !important;
    color: var(--text-color);
    border: none;
    resize: none;
  }

  .cards .card-body__textarea:focus{
    background-color: var(--background-color) !important;
    color: var(--text-color);
    border: none;
    resize: none;
  }

  .card{
    border-radius: 10px!important;
  }

  .card-body{
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px!important;
  }

  .modal-content{
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
  }
  
  .modal-footer .button{
      color: var(--text-color)!important;
  }

  .toast{
    position: fixed!important;
    left: 10px!important;
    bottom: 10px!important;
  }

  .toast-body{
    background-color: #16504b!important;
    color: var(--text-color)!important;
    height: 50px;
    width: 300px;
  }

  i{
      color: var(--text-color);
  }

  #btn-undo{
    margin-left: 20px;
    background-color:  #16504b!important;
    border: none!important;
    color: #FB8122!important;
  }

  .btn-group{
    position: absolute!important;
    right:15px!important;
    top: 15px!important;
  }

  #btn-light{
    background-color: var(--background-color);
    color: var(--text-color);
  }

  #btn-dark{
    background-color: var(--text-color);
    color: var(--background-color);
  }

  /* #btn-dark{
    background-color: var(--text-color);
    color: var(--background-color);
  } */

  .bg-dark{
    background-color: var(--background-color)!important;
  }

  #logo_upload_image{
    position: absolute;
    height: 30px;
    width: 30px;
  }

  .image-upload{
    position: absolute;
    margin-top: 13px;
    right: 50px;
  }

  .image-upload>input {
    display: none;
  }

  #display_image{
	  width: 100%;
	  height: auto;
  }